node_modules
**/node_modules

dist
**/dist

turbo
*.log
*.lock

packages/*/node_modules
apps/*/node_modules

.vscode
.idea

.git
.gitignore

Dockerfile
docker-compose.yml

**/*.png
**/*.jpg
**/*.jpeg
**/*.svg
**/*.pdf

packages

pnpm-workspace.yaml
turbo.json