version: "3.9"

services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jungle_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    container_name: api-gateway
    restart: always
    env_file:
      - ./apps/api-gateway/.env
    depends_on:
      - auth-service
    ports:
      - "3001:3001"
    environment:
      GATEWAY_PORT: 3001
      AUTH_HOST: auth-service     
      AUTH_PORT: 3002              
      JWT_ACCESS_SECRET: your_access_secret
      JWT_REFRESH_SECRET: your_refresh_secret

  auth-service:
    build:
      context: .
      dockerfile: apps/auth-service/Dockerfile
    container_name: auth-service
    restart: always
    env_file:
      - ./apps/auth-service/.env
    depends_on:
      - postgres
    ports:
      - "3002:3002"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: jungle_db
      AUTH_PORT: 3002

volumes:
  pgdata:
